.hero {
  position:relative;


  .container {
    z-index:1;
    position:relative;
  }

  .section-title {
    text-align:center;
    margin-bottom:2em;

    &:after {
      margin-left:auto;
      margin-right:auto;
    }
  }
  .secondary-header {
    text-align:center;
    margin-bottom:20px;
  }

  .section-title {
    .icon {
      text-align:center;
      font-size:3em;
      margin:1em auto 0;
      padding:0.3em 0.6em;
      display:inline-block;
      border:2px solid $yellow;
      border-radius:50%;
    }
  }

  .hero-item {
    .icon {
      text-align:center;
      font-size:3em;
      margin:1em auto 0;
      padding:0.3em 0.6em;
      display:inline-block;
      border:2px solid $white;
      border-radius:50%;
    }
    text-align:center;

  }

 .hero-inner-wrap {
    background-color:$black;
    padding:4em 0 5em;
    position:relative;
    z-index:1;
    overflow:visible;
  background-size:cover !important;

    // clip path angled div
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0, 100% 7%, 100% 96%, 0% 100%);

    // overlay
      &:after { 
        content:"";
        width:100%;
        height:100%;
        left:0;
        top:0;
        position:absolute;
        z-index:0;
        background:rgba($black, 0.75);
      }
  }

// background polygon clip
// adjust cipping via https://bennettfeely.com/clippy/ > hexagon

&:before {
  content:"";
  width:100%;
  height:100%;
  background:rgba($yellow,0.2);
  left:0;
  top:0;
  position:absolute;
  z-index:-1;

  -webkit-clip-path: polygon(70% 0, 100% 9%, 100% 86%, 73% 100%, 0 86%, 0 10%);
clip-path: polygon(70% 0, 100% 9%, 100% 86%, 73% 100%, 0 86%, 0 10%);
}



}

.hero.light {

 .hero-inner-wrap {
    background-color:$white;
    -webkit-clip-path:none;
    clip-path:none;

    .hero-item {
        .icon {
          border-color:$yellow;
        }
      }

    // overlay
      &:after { 
        content:"";
        width:100%;
        height:100%;
        left:0;
        top:0;
        position:absolute;
        z-index:0;
        background:rgba($white, 0.98);
      }

  }

  &:before {
    display:none;
  }
}

.top-banner {
  .top-banner-title {
    h1 {
      font-size:4em;
      font-weight:800;
    }

    .underline-thin {
      border-bottom:1px solid #73777E;
      display:inline-block;
    }
  }

  //disable clipping
  .hero-inner-wrap {
    -webkit-clip-path:none;
    clip-path:none;
  }
  // &:before {
  //   // top:25px;
  // }
}