
@import "bootstrap";

@import "animate";
@import "learn_section";
@import "dark_section";
@import "hero_section";
@import "underline_section";
@import "people_cards";
@import "contact_section";

body {
    padding-top: 2rem;
}


@font-face {
    font-family: 'museo_sans_rounded900';
    src: url('../fonts/museosansrounded-900.svg') format('svg'),
       url('../fonts/museosansrounded-900.ttf') format('ttf'),
       url('../fonts/museosansrounded-900.woff2') format('woff2'),
         url('../fonts/museosansrounded-900.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_rounded300';
    src: url('../fonts/museosansrounded-300.svg') format('svg'),
       url('../fonts/museosansrounded-300.woff2') format('woff2'),
         url('../fonts/museosansrounded-300.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_rounded500';
    src: url('../fonts/museosansrounded-500.svg') format('svg'),
       url('../fonts/museosansrounded-500.woff2') format('woff2'),
         url('../fonts/museosansrounded-500.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'museo_sans_rounded700';
    src: url('../fonts/museosansrounded-700.svg') format('svg'),
       url('../fonts/museosansrounded-700.ttf') format('ttf'),
       url('../fonts/museosansrounded-700.woff2') format('woff2'),
         url('../fonts/museosansrounded-700.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




// globals


body {
  font-family:$font-family-sans-serif;
}

#accordion {
  border-bottom:1px solid #C2CFD6;
  .btn {
    display:block;
    width:100%;
    padding:0 0 0.5em;
    font-size:1em;
    color:$gray-400;
    &:hover, &:focus, &:active {
      text-decoration:none;
      color:$yellow;
    }
  }
  .card {
    border-bottom:1px solid #F9F9F9;
  }
  .card-header {
    border-bottom:0;
  }
}

.radius {
  border-radius:3px;
}

.center-nav {
  .table {
    display: table;   /* Allow the centering to work */
    margin: 0 auto;
  }
  display:block;

}
.inline-list {
  text-align:center;
  padding-left:0;
  li {
    text-align:center;
    display:inline;
    margin:0 0.8em;
    font-size:0.9em;
    @include media-breakpoint-up(md) {
      margin: 0 1em;
      font-size:1.2em;
    }
    a {
      text-align:center;
    }
  }
}

.code-snippet, pre {
  background:#fafafa;
  border-radius:3px;
  padding:2em 1em 0;
  margin:2em 0;
}

.btn {
  border-width:2px;
}

.btn-primary {
  color:$white;
}

.btn-group-lg>.btn, .btn-lg {
  padding:.65rem 2rem;
  font-size:1.09375rem;
}

.btn-feature {
  box-shadow:0 2px 12px 0 rgba(0,0,0,0.10);
  font-weight:800;
  padding:.65rem 1.5rem;
  &:hover, &:focus, &:active {
    color:$white;
    // box-shadow:0 3px 13px 0 rgba(0,0,0,0.10);

  }
}

.btn-2 {
    color: $yellow !important;
    text-shadow: none!important;
    -webkit-text-shadow: none!important;
    border: 3px solid $yellow !important;
    padding-left: 60px!important;
    padding-right: 40px!important;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 100px;
    max-width: 250px;
    background-image: url(../img/arrow-in-circle-gold.png);
    background-size: auto 60%;
    background-repeat: no-repeat;
    background-position: 8% 50%;
}

.btn-round {
  border-radius:32px;
}

h1,h2,h3,h4,h5,h6 {
  margin-top:1em;
}

h1.white,
h2.white,
h3.white,
h4.white,
h5.white,
h6.white,
p.white,
div.white,
li.white {
  color:$white;
}

h1.yellow,
h2.yellow,
h3.yellow,
h4.yellow,
h5.yellow,
h6.yellow,
p.yellow,
div.yellow,
li.yellow {
  color:$yellow;
}

h1.black,
h2.black,
h3.black,
h4.black,
h5.black,
h6.black,
p.black,
div.black,
li.black {
  color:$black;
}

h1.gray,
h2.gray,
h3.gray,
h4.gray,
h5.gray,
h6.gray,
p.gray,
div.gray,
li.gray {
  color:$gray-400;
}

.double-section-clip {
    -webkit-clip-path: polygon(0 0, 100% 7%, 100% 96%, 0% 100%);
    clip-path: polygon(0 0, 100% 7%, 100% 96%, 0% 100%);
}


.top-section-clip {
  -webkit-clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 9%, 100% 100%, 0% 100%);
}

.bottom-section-clip {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 96%, 0 100%);
}

.section-title, .section-title.light {
  
  &:after {
    content: ' ';
    display: block;
    background:$yellow;
    border-radius:3px;
    height:4px;
    color: #fab915;
    width: 80px;
    margin-top: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}

.section-title.dark {
  
  &:after {
    content: ' ';
    display: block;
    background:$yellow;
    border-radius:3px;
    height:4px;
    color: #fab915;
    width: 80px;
    margin-top: 10px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

}


.section-title.text-center {
  &:after {
    margin-left:auto;
    margin-right:auto;
  }
}


.contact, .contact-section {
  padding:4em 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eeeeee+0,ffffff+100 */
  background: $gray-100; /* Old browsers */
  background: -moz-linear-gradient(top, $gray-100 0%, #ffffff 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $gray-100 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $gray-100 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gray-100', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

  .section-title:after {
      margin-left: auto;
      margin-right: auto;
  }
}

