@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 100%;
  font-size-adjust: 0.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  font-size-adjust: 0.5;
}