.underline-section {
  .underline {
    display:inline-block;

  }
  .icon {
    font-size:4em;
  }
}

.section-title.underlines, .underlines {

  &:after {
    content:none;
  }
  .underline {
    display:inline-block;
    position:relative;
    &:after {
      content:"";
      width:100%;
      height:4px;
      border-radius:3px;
      background:$gray-400;
      position:absolute;
      left:0;
      bottom:-2px;
      @include media-breakpoint-up(md) {
        bottom:-5px;
      }

    }
  }
  .underline.yellow {
    &:after {
      background:$yellow;
    }
  }
  .underline.gray {
    &:after {
      background:$gray-400;
    }
  }
  .underline.black {
    &:after {
      background:$black;
    }
  }
  .underline.white {
    &:after {
      background:$white;
    }
  }
}