@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700');

html {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-size-adjust: 0.5;
  height: auto !important;
}

body {
  margin: 0;
  position: relative;
  color: #151b1e;
  height: auto !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: 'Montserrat', sans-serif;
  font-size-adjust: 0.5;
}

/* #universal-footer {
  margin-top: 0 !important;
} */
#btctm-top {
  position: absolute !important;
}

@media only screen and (min-width: 1140px) {
  html {
    font-size: 18px;
  }
}

table {
  border-spacing: 0;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
